body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ff0000d3;
  }
  
  canvas {
    border: 1px solid #5f0404;
  }